.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
}

    .logo > a {
        color: #ddd;
        text-decoration: none;
        transition-duration: 0.5s;
    }

        .logo > a:hover {
            color: #fff;
            transition: ease;
            text-decoration: none;
            transition-duration: 0.5s;
        }

.page-content {
    padding: 20px;
    margin: 10px auto;
}

.page-heading {
    color: #e9e8e7;
}




header.custom-header {
    background: #337ab7;
}

header.custom-header {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    /* the rest of your styling */
}



.gallery-content{
    padding: 24px;
}

.gallery-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 280px;
    width: 280px;
}


.submit {
    padding: 2%;
}
.btn-file{
    margin: 6px;
}


#upload-form{
    
    padding: 60px;
    margin: auto;
    width: 50%;
}

.upload-container{
    padding: 2%;
}

.drop-shadow{
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
}


.body{
    padding-top: 50px;
    padding-bottom: 20px; 
}

.body-content {
    padding-left: 15px;
    padding-right: 15px; 
}