@model UploadApplicationModel


<form asp-controller="Application" asp-action="UploadNewFile"
      method="post"
      class=""
      enctype="multipart/form-data">

    <div class="container">


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Demographic Details
                    </div>

                    <div class="panel-content-padding">

                        <div class="form-group">
                            <label asp-for="FirstName">First Name:</label>
                            <input asp-for="FirstName" type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName">Last Name</label>
                            <input asp-for="LastName" type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="SupervisorId">Select Supervisor: <br /></label>
                            <select asp-for="SupervisorId"
                                    asp-items="Model.Supervisors"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="ProgrammeId">Select Programme:</label>
                            <select asp-for="ProgrammeId"
                                    asp-items="Model.Programmes"></select>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Application Files</div>
                    <div class="panel-content-padding">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" value="Previous Qualification" readonly="readonly" />
                            <input type="file" name="file" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" value="South African ID or Passport" readonly="readonly" />
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">


            <div class="submit" align="right">
                <button type="submit" id="btn-upload" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i> Create
                </button>
            </div>
        </div>

    </div>




</form>

<script>
document.getElementById("btn-upload").onclick = disableScreen;

function disableScreen() {
    // creates <div class="overlay"></div> and
    // adds it to the DOM
    var div= document.createElement("div");
    div.className += "overlay";
    document.body.appendChild(div);

     var div2= document.createElement("div");
    div2.className += "load-4";
    document.body.appendChild(div2);

      var div3= document.createElement("div");
    div3.className += "ring-1";
    div2.appendChild(div3);



    var para = document.createElement("p");
var node = document.createTextNode("Submitting Application.");
para.appendChild(node);

var element = document.getElementById("div1");
element.appendChild(para);





}

</script>