@model UploadApplicationModel


<form asp-controller="Application" asp-action="UploadNewFile"
      method="post"
      class=""
      enctype="multipart/form-data">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Demographic Details
                    </div>

                    <div class="panel-content-padding">

                        <div class="form-group">
                            <label asp-for="SupervisorId">Select Supervisor: <br /></label>
                            <select asp-for="SupervisorId"
                                    asp-items="Model.Supervisors"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="ProgrammeId">Select Programme:</label>
                            <select asp-for="ProgrammeId"
                                    asp-items="Model.Programmes"></select>
                        </div>


                    </div>



                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Application Files</div>
                    <div class="panel-content-padding">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" value="Previous Qualification" readonly="readonly" />
                            <input type="file" name="file" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" value="South African ID or Passport" readonly="readonly" />
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="submit">
                <button type="submit" id="btn-upload" class="btn btn-info">
                    Submit
                </button>
            </div>
        </div>

    </div>

</form>