<!--This web page is the login-->

<div class="main well">
    <div class="left" >
        <h1>Login</h1>
        <form asp-controller="Auth" asp-action="Login" method="post">
           
            <input id="email" name="email" type="text" placeholder="Email" style="background-color: #ffffff"  value="Ekow.Otoo.Wits@gmail.com"/>
            <input id="password" name="password" type="password" placeholder="Password" style="background-color: #ffffff" value="otoo123" />
            <input type="submit" value="Login" />
        </form>

    </div>

</div>

<style>
    body {
        width: 100%;
        background-color: #ffffff;
        /*background:-webkit-linear-gradient(#82B4D5,#fff);*/
        font-family: 'Trebuchet MS';
        /*color:#fff;*/
        height: 100vh;
    }

    .main {
       
        /*border:1px solid #fff;*/
        margin: 0 auto;
    }

        .main div {
            display: inline-block;
            border: none;
        }

        .main .left {
         
          
        }

    .left h1 {
        text-align: center;
        /*padding-left:120px;*/
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .left p {
        margin-top: 0;
        text-align: center;
        color: grey;
    }

    .left form {
        text-align: center;
    }

        .left form input {
            text-align: center;
            width: 70%;
            height: 35px;
            margin-bottom: 10px;
            border: none;
            border: 1px solid #F8F8F8;
            background-color: #F8F8F8;
            border-radius: 25px;
        }

            .left form input:focus {
                outline: none;
            }

    ::-webkit-input-placeholder {
        color: grey;
        letter-spacing: 1px;
    }

    .left form input[type="submit"] {
        background-color: #337ab7;
        color: #fff;
        font-weight: bold;
    }

    .left p.forgot {
        color: grey;
        font-size: 12px;
        padding-top: 140px;
    }

    .left p.or {
        color: grey;
        font-size: 15px;
        border: 1px solid #f8f8f8;
        width: 40px;
        font-weight: 200;
        height: 30px;
        padding-top: 10px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 42%;
        left: 94%;
        z-index: 10;
        /*text-align:center;*/
    }
    /*.left .form{
  border:1px solid;
}*/
    .main .right {
        /*height:100%;*/
        width: 50%;
        float: left;
        height: 100%;
        margin-left: -5px;
        padding-right: 5px;
        background-image: url('https://s4.postimg.org/k8u6q3g8d/baloon.jpg');
        background-color: #fff;
        background-size: cover;
        text-align: center;
    }

    .right h1 {
        padding-top: 100px;
        margin-bottom: 10px;
    }

    .right {
        color: #fff;
    }

        .right p {
            margin: 0;
        }

</style>

