<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a6c7f807-6fee-4f14-828f-e86203520a76/resourceGroups/COMS3002/providers/Microsoft.Web/sites/PGASystem</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://pgasystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>pgasystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PGASystem</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PGASystem</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>